// sizes
$xs: 8px;
$s: 16px;
$m: 32px;
$l: 64px;
$xl: 128px;
$block: 430px;

//font
$primary_font_style: helvetica;
$primary_font_size: $s;

//colors
$primary_blue: rgb(115, 208, 255);
$secondary_blue: rgb(173, 226, 253);
$grey: rgb(164, 164, 164);

header {
    display: flex;
    flex: 1 0 auto;
    align-items:center;
    justify-content:center;
    height: 10vh;
}

.main {
    display:flex;
    flex-direction:column;
    justify-content: center;
    flex: 1 0 auto;
    height: 80vh;
    font-size: $primary_font_size;
    font-family: $primary_font_style;
}
footer {
    display:flex;
    justify-content:center;
    align-items: center;
    height: 10vh;
    flex: 0 0 auto;
}

button, 
button:active, 
button:focus {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer; 
    outline: none;
}

.carousel {
    display:flex;
    justify-content:center;
    .carousel__body {
        height: 20vh;
        width: $block;
        img {
            border: 3px solid transparent;
            border-radius: $xs;
            &:hover {
                border: 3px solid $secondary_blue;
            } 
        }
    }
}

.list_page {
    display:flex;
    justify-content:space-around;
    height: 60vh;
    .list_ul {  
        display: flex;
        flex-direction: column;
        width: 38vw;
        margin: $s;
        overflow-y: auto;
        @extend .custom_scroll;
          &::-webkit-scrollbar-track {
            border-radius: 4px;
          }
        .list_item_btn {
            display:flex;
            align-items:center;
            box-sizing: content-box;
            border-bottom: 1px solid $primary_blue;
            margin-right: $s;
            min-height: $l;
            li {
                list-style-type: none; 
                display:flex;
                justify-content: flex-start;
                align-items: center;
                padding: $xs 0; 
                img {
                    max-height: $m;
                    height: 5vh;
                    margin-left: $s;
                    border-radius: $xs;
                }
                span {
                    margin: 0 $s;
                }   
            }
            &:hover {
                background: $secondary_blue;
            }
            &:last-child {
                border: none;
            }
        }
    }
    .emp_page {
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        border: 1px solid $secondary_blue;
        box-sizing: border-box;
        border-radius: $s;
        padding: $s;
        min-width: 54vw;
        .card_btn {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: $s;
            .emp_page__card {
                display: flex;
                flex-direction:column;
                width: 12vw;
                position:sticky;
                img {
                    width: 10vw;
                    border: 3px solid $secondary_blue;
                    border-radius: $s;
                }
                span {
                    margin-top: $xs;
                }
            }
            .add_comment_btn {
                display:flex;
                justify-content: center;
                align-items: center;
                height: 7vh;
                border: 3px solid $secondary_blue;
                border-radius: $xs;
                &:hover {
                    background: $primary_blue;
                    color: white;
                }
            }
        }
        .emp_page__comments {
            display:flex;
            flex-direction:column;
            overflow-y: auto;
            @extend .custom_scroll;
            .emp_page__comments__item {
                display:block;
                width: 40vw;
                margin-left: $s;
                background: $secondary_blue;
                border: 1px solid $primary_blue;
                border-radius: $s;
                padding: $xs;
                margin: 0 $s $xs 0;
                .phone {
                    display: flex;
                    margin: $xs 0;
                    img {
                        height: $s;
                    }
                }
            }
        }
    }
    .comment_form {
        @extend .list_ul;
        align-items: center;
        max-height: 60vh;
        .form_items {
            display: flex;
            flex-direction:column;
            min-width: 30vw;
            max-height: 60vh;
            .form_field {
                margin-bottom: $xs;
                .form_field_error {
                    display:flex;
                    height:$s;
                    color: red;
                    font-size: $xs*1.5;
                } 
                .spin {
                    display: flex;
                    height: $s;
                }
            }
            input {
                min-height: 5vh;
                min-width: 30vw;
                border: 1px solid $secondary_blue;
                border-radius: $xs;
                padding: 0 $xs;
                outline:none;
            }
            textarea {
                @extend input;
                overflow-y: auto;
                @extend .custom_scroll;
                resize: none;
                min-height: 24vh;
                padding: $xs;
            }
            .form_btns {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .submit_form_btn {
                    display:flex;
                    justify-content: center;
                    align-items: center;
                    height: 7vh;
                    min-width: 12vw;
                    border: 3px solid $secondary_blue;
                    border-radius: $xs;
                    &:hover {
                        background: $primary_blue;
                        color: white;
                    }
                    &:disabled {
                        border-color: $grey;
                        color: $grey;
                        &:hover {
                            background: white;
                        }
                    }
                }
                .close_form_btn {
                    @extend .submit_form_btn;
                }
            }
        }
    }
}

.custom_scroll {
    &::-webkit-scrollbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8px;
        background-color: white;
        border: 1px solid $primary_blue;
        border-radius: 8px;
      }
      &::-webkit-scrollbar-thumb {
        width: 8px;
        border: 4px solid $secondary_blue;
        border-radius: 8px;
        background-color: $secondary_blue;
      }
      &::-webkit-scrollbar-track {
        border-radius: 4px;
      }
}
